<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>苹朵</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, "\\\\") %>')
      </script>
    <% } %>
  </head>
  <body>
    <style>
      body{
        background-color: #fff;
        transition: all 1s;
      }
    </style>
    <div id="app">
      <div class="center">
          载入中...
      </div>
      <style>
        body{
          background-color: #aaa;
        }
        .center{
          position: relative;
          width: 170px;
          height:100px;
          margin:150px auto;
          font-size:34px;
          font-family: "微软雅黑",sans-serif;
          
        }
      </style>
    </div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
